<div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel" style="min-width: 280px; max-width: 300px;">
    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0 h-100" style="min-width: 280px; width:100%">
    <div class="d-flex position-sticky top-0 flex-column flex-shrink-0 p-3 text-bg-dark w-100 h-100">
      <a href="/" class="d-flex align-items-center mb-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-globe-europe-africa me-2 fs-4"></i>
        <span class="fs-4 ">1.I Web</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="index.html" class="nav-link active" aria-current="page">
            <i class="bi bi-house-fill me-2"></i>
            Home
          </a>
        </li>
        <li>
          <a href="notes.html" class="nav-link text-white">
            <i class="bi bi-pencil me-2"></i>
            Notes
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-calendar me-2"></i>
            Calendar
          </a>
        </li>
        <li>
          <a href="homework.html" class="nav-link text-white">
            <i class="bi bi-book me-2"></i>
            Homework
          
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-clipboard me-2"></i>
            Tests
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="bi bi-rss me-2"></i>
            Feed
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="index.html">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>