<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="/static/css/main.css" rel="stylesheet">
    <title>Login</title>
</head>
<body class="h-100" data-bs-theme="dark">
    {% include 'components/navbutton.html'%}
  <div class="d-flex h-100">
    {% include 'components/navbar.html'%}
    
    <div class="overflow-scroll px-4 bg-dark-subtle pt-4 w-100">
    
      <h1>Welcone {{User}}</h1>
      <hr>
      <h2>Feed</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Title</h4>
          <p>content</p>
        </li>
        <li class="list-group-item">
          <h4>Title</h4>
          <p>content</p>
        </li>
        <li class="list-group-item">
          <h4>Title</h4>
          <p>content</p>
        </li>
        <li class="list-group-item">
          <h4>Title</h4>
          <p>content</p>
        </li>
        <li class="list-group-item list-group-item-action ">
          Show more...
        </li>
      </ul>
      <br>
      <h2>Calendar</h2>
      <div class="card overflow-hidden overflow-x-scroll" style="width: min-content; max-width: 100%;">
        <div class="card-body ">
          <table class="table font-monospace m-n3 text-center rounded" style="width: min-content;">
            <thead class="rounded">
              <tr>
                <th scope="col">Mon</th>
                <th scope="col">Tue</th>
                <th scope="col">Wed</th>
                <th scope="col">Thu</th>
                <th scope="col">Thu</th>
                <th scope="col">Thu</th>
                <th scope="col">Thu</th>
              </tr>
            </thead>
            <tbody>
              <tr><!-- Row -->
                <td><a class="btn btn-primary disabled">01</a></td> <!-- col -->
                <td><a class="btn btn-primary">02</a></td>
                <td><a class="btn btn-primary">03</a></td>
                <td><a class="btn btn-primary">04</a></td>
                <td><a class="btn btn-danger">05</a></td>
                <td><a class="btn btn-primary">06</a></td>
                <td><a class="btn btn-primary">07</a></td>
              </tr>
              <tr><!-- Row -->
                <td><a class="btn btn-primary">08</a></td> <!-- col -->
                <td><a class="btn btn-primary">09</a></td>
                <td><a class="btn btn-primary">10</a></td>
                <td><a class="btn btn-primary">11</a></td>
                <td><a class="btn btn-primary">12</a></td>
                <td><a class="btn btn-primary">13</a></td>
                <td><a class="btn btn-primary">14</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    
  </div>
  
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>